.img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.box1 {
  background: yellow;
  width: 30px;
  height: 30px;
  padding: 50px;
  margin: 10px;
  border: 2px solid blue;
  display: inline-block;
}
